#footer{
  padding-top: 40px;
  background: #01487E;

  .footer--start{
    display: flex;
    align-items: start;
    padding-bottom: 50px;


    &--img{
      margin: 0 30px 0 0;
    }

    &--block{


      &--title{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        /* identical to box height */


        color: #FFFFFF;
      }

      &--items{

        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        /* identical to box height */


        color: #FFFFFF;
      }
    }
  }

  .footer--middle{
      padding-bottom: 50px;
    &--title{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      /* identical to box height */


      color: #FFFFFF;
    }

    &--desc{
      width: 67%;
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 21px;
      margin-bottom: 20px;

      color: #E9E9E9;
    }

    &--icons{
      display: flex;
      justify-content: space-between;
      width: 80%;


    }

  }

  .footer--end{
    

    &--title{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      /* identical to box height */


      color: #FFFFFF;
    }

    &--address{

      &--desc{
        line-height: 32px;
        width: 80%;
        font-weight: 300;
        font-size: 13px;

        color: #FFFFFF;
      }
    }
  }
}