.formInput{
    width: 250px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 12px;
    justify-content: center;
    align-items: center;
    &--input{

        & span{
            display: none;
            color:red;
            font-size: 12px;
            padding: 0 0 0 17px;
        }
        input:invalid[focused= "true"] ~ span {
            display: block;
        }
    }


}

input{
    color: black;
    padding:7px 7px 7px 10px ;
    margin: 1px;
    border: 2px solid #8F8F8F;
    box-sizing: border-box;
    border-radius: 5px;
}
