.coursesCard{
  width: 370px;
  height: 376px;
  margin-bottom: 30px;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
  border-radius: 10px;


  &--box{
    margin-top: 63.5%;
    padding: 11px;

    &--title{
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;




      color: #01487E;
    }

    &--date{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */


      color: #494949;
    }

    &--price{
      width: 121px;
      height: 42px;

      background: #01487E;
      border-radius: 10px 0 10px;
      border-color: transparent;
      margin-left: 68.3%;



      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */


      color: #FFFFFF;

    }
  }

}