@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/////////Tailwind/////////////////////////////////////
@tailwind base;
@tailwind components;
@tailwind utilities;
///////////////////////////////////////////////////////
@import "Auth/Register/Register";
@import "Auth/Register/FormInput";
@import "Auth/Register/registerCode";
@import "Auth/Register/SignIn";
@import "Auth/Person/Person";
@import "Auth/Person/hookform";
@import "Auth/Updated/UpdatePositon";
@import "Auth/Updated/UpdateOrganization";
@import "Auth/Updated/UpdatePassword";
@import "Auth/Updated/UpdateEmail";
@import "Auth/Updated/PhoneNumber";
@import "Auth/Person/Login";

//////////////////////MAIN COURSES//////////////////////
@import "./../style/courses/courses";
@import "./../style/accordion/accordion";

//////////////////////COURSES FREE//////////////////////
@import "./../style/courses/coursesDetails";
@import "./../style/courses/coursesLesson";
@import "./../style/card/coursesCard";

////////// LESSON VIDEO ////////////////////////////////
@import "./../style/coursesVideoLesson/ReactPlayer";

///////////// LESSON TEST //////////////////////////////
@import "./../style/question/question";


////////////////////////COMPONENTS//////////////////////
@import "./../style/Header/header";
@import "./../style/home/home";
@import "./../style/about/about";
@import "./../style/Footer/footer";

///////////////////////REGISTER/////////////////////////
@import "./../style/register/RegisterCopy";
@import "./../style/register/FormInput";
@import "./../style/register/registerCode";

//*---------media----------*
@import "./../media/media-style";
//*---------media----------*

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}