.accordion{
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;


  &__title{
    padding: 1rem 0.5rem;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    cursor: pointer;

    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon{
    transition: 0.3s ease-in-out;
  }
  &.active &__icon{
    transform: rotate(180deg);
  }

  &__content{
    padding-left: 50px;
    background: white;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    max-height: 0;
  }
  &.active &__content{
    max-height: 20em;
  }


}